*{
	margin: 0;
	padding: 0;
}
.wapper {
	background: #FFF1F1;
	    display: flex;
}
.container {
    width: 287px;
    height: 522px;
    background: #FE6869;
    border-radius: 15px;
    box-shadow: 2px 6px 59px grey;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 93px;
        width: 100%;
}
.img-logo img {
    width: 132px;
}
.input-logo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 70%;
}
.input-logo input {
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}
#user-id {
    background: url(https://img.icons8.com/doodle/48/000000/user-male.png);
    background-repeat: no-repeat;
    background-size: 27px;
    padding-left: 29px;
    color: white;
    border: 1px solid white;
}
#user-id::placeholder, #pw-id::placeholder{
	color: white;
}
#pw-id {
    background: url(https://img.icons8.com/plasticine/100/000000/privacy.png);
    background-repeat: no-repeat;
    background-size: 27px;
    padding-left: 29px;
    color: white;
    border: 1px solid white;
}
input#sm-id {
    width: 54%;
    border: none;
    margin: 0 auto;
    margin-top: 12px;
    border-radius: 2px;
    background: #ff0a0a;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 1px 1px rgb(80, 80, 80);

}
input#sm-id:hover {
    background: blue;
}