*{
	margin: 0;
	padding: 0;
}
.wapper {
	background: #FFF1F1;
	    display: flex;
}
.container {
    width: 287px;
    height: 522px;
    background: #F5F5F5;
    border-radius: 15px;
    box-shadow: 2px 6px 59px grey;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.input-form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
table {
    width: 100%;
}
table tr {
    background: #d8d8d8;
}
.tt-sv {
    padding: 5px;
    background: #FE6869;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.input-form input {
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
    border: none;
}
.input-bt {
    display: flex;
}
.input-bt input {
    width: 100%;
    margin: 5px;
    background: #2196F3;
        padding: 5px 0 0 5px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}
.tk {
    display: flex;
    margin: 10px 0 10px;
}
.tk input[type="submit"] {
    width: 100%;
    background: #2196F3;
        padding: 3px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}
form input {
    margin: 4px;
}

form {
    display: flex;
    font-weight: bold;
    color: black;
    align-items: center;
}